<template>
    <div>
        <div class="hero notification">
            <div class="hero-body">
                <h2 class="title">{{ title }}</h2>
            </div>
        </div>

        <section class="section">
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>Tipo de reporte</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="is-vcentered">Flujo de producto</td>
                        <td><button class="button is-primary">Generar</button></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                title: 'Reportes'
            }
        },
        methods: {
            
        }
    }
</script>