<template>
    <div>
        <form action="">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Nueva orden</p>
                    <button
                        type="button"
                        class="delete"
                        @click="$emit('close')"/>
                </header>
                
                <section class="modal-card-body">
                    <b-field label="Fundación">
                        <b-select v-model="orderRequest.institution" expanded>
                            <option
                                v-for="client in institutions"
                                :value="client.id"
                                :key="client.id">
                                {{ client.name }}
                            </option>
                        </b-select>
                    </b-field>
                    
                    <b-field label="Categorías">
                        <b-taginput
                            v-model="orderRequest.subcategories"
                            :data="filteredTags"
                            autocomplete
                            :open-on-focus="true"
                            field="name"
                            icon="label"
                            @typing="getFilteredTags">
                        </b-taginput>
                    </b-field>
                    
                    <b-field label="Cantidad de días">
                        <b-input
                            type="number"
                            v-model="orderRequest.days">
                        </b-input>
                    </b-field>
                    
                    <!-- <p>Order request: {{ orderRequest }}</p> -->
                </section>
                
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="$emit('close')">Cerrar</button>
                    <button class="button is-primary" @click="saveOrder">Guardar</button>
                </footer>
            </div>
        </form>
    </div>
</template>

<script>
    import { eventBus } from '../../main';
    
    export default {
        data() {
            return {
                orderRequest: {
                    institution: 0,
                    subcategories: [],
                    days: 0
                },
                institutions: [],
                subcategories: [],
                filteredTags: []
            }
        },
        methods: {
            getClients() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/clients/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    const array = [];
                    for (let key in data) {
                        array.push(data[key]);
                    }
                    this.institutions = array;
                });
            },
            getSubcategories() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/subcategories/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    const array = [];
                    for (let key in data) {
                        array.push(data[key]);
                    }
                    this.subcategories = array;
                    this.filteredTags = array;
                });
            },
            saveOrder() {
                this.$http.post('http://alrivade.pythonanywhere.com/api/orders/', this.orderRequest, {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    console.log(response);
                    eventBus.$emit('orderEvent', { success: true, msg: '¡Orden creada con éxito!' });
                }, error => {
                    console.log(error);
                    eventBus.$emit('orderEvent', { success: false, msg: 'La creación de la nueva orden no pudo ser procesada correctamente' });
                });
                this.$emit('close');
            },
            getFilteredTags(text) {
                this.filteredTags = this.subcategories.filter((option) => {
                    return option.name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            }
        },
        mounted() {
            this.getClients();
            this.getSubcategories();
        }
    }
</script>