<template>
    <div>
        <div class="hero notification">
            <div class="hero-body">
                <h2 class="title">{{ title }}</h2>
                <br>
                <button class="button is-primary" @click="isComponentModalActive = true">Crear nueva orden</button>
            </div>
        </div>
        
        <b-modal v-model="isComponentModalActive" has-modal-card trap-focus>
            <template #default="props">
                <order-modal @close="props.close"></order-modal>
            </template>
        </b-modal>
        
        <!-- <div class="line"></div> -->
        
        <section class="section">
            <b-table
            :data="orders"
            :paginated="true"
            :per-page="10"
            :pagination-position="bottom"
            :sort-icon="menu-up"
            :sort-icon-size="is-small"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            @click="goToOrderDetail">

                <b-table-column field="id" label="Orden #" width="90" sortable centered numeric v-slot="props">
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="user.full_name" label="Modificado última vez" sortable v-slot="props">
                    {{ props.row.modified_by.full_name }}
                </b-table-column>

                <b-table-column field="institution.name" label="Fundación" sortable v-slot="props">
                    {{ props.row.institution.name }}
                </b-table-column>

                <b-table-column field="status" label="Estado" sortable v-slot="props">
                    {{ formatStatus(props.row.status) }}
                </b-table-column>

                <b-table-column field="created_at" label="Fecha de creación" sortable centered v-slot="props">
                    <span class="tag is-success">
                        {{ new Date(props.row.created_at).toLocaleDateString() }}
                    </span>
                </b-table-column>

            </b-table>
        </section>
    </div>
</template>

<script>
    import CreateOrderModal from './CreateOrderModal.vue';
    import { eventBus } from '../../main';
    
    export default {
        components: {
            orderModal: CreateOrderModal
        },
        data() {
            return {
                title: 'Órdenes de despacho',
                orders: [],
                isComponentModalActive: false,
            }
        },
        computed: {
            alertClass() {
                return {
                    'alert-success': this.alert.success,
                    'alert-danger': !this.alert.success
                }
            }
        },
        methods: {
            getOrders() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/orders/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    console.log("Order fecth finished correctly");
                    const array = [];
                    for (let key in data) {
                        array.push(data[key]);
                    }
                    this.orders = array;
                });
            },
            formatStatus(status) {
                if (status == 1) {
                    return 'Creada';
                } else if (status == 10) {
                    return 'Validada';
                }
            },
            orderEventListener(response) {
                console.log('order event listener');
                let notificationClass = 'is-danger';
                if (response.success) {
                    notificationClass = 'is-success';
                }
                
                this.$buefy.notification.open({
                    message: response.msg,
                    type: notificationClass
                });
            },
            goToOrderDetail(order) {
                this.$router.push({ name: 'orderDetail', params: { id: order.id } });
            }
        },
        created() {
            eventBus.$on('orderEvent', (alert) => {
                this.orderActionListener(alert);
            })
        },
        mounted() {
            this.getOrders();
        }
    }
</script>