<template>
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><router-link to="/orders"><u>Órdenes</u></router-link></li>
                    <li class="is-active"><a href="#" aria-current="page">Orden #{{ id }}</a></li>
                </ul>
            </nav>

            <b-field label="Creada por">
                <b-input type="text" expanded disabled v-model="order.user.full_name"></b-input>
            </b-field>
            
            <b-field label="Modificado última vez por">
                <b-input type="text" expanded disabled v-model="order.modified_by.full_name"></b-input>
            </b-field>

            <b-field label="Fundación">
                <b-input type="text" expanded disabled v-model="order.institution.name"></b-input>
            </b-field>
            
            <table class="table is-bordered is-narrow  mt-5">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="product in order.products">
                        <td class="is-vcentered">{{ product.product.name }}</td>
                        <td><input class="input" type="number" v-model="product.count"></td>
                        <td class="is-vcentered">{{ product.product.location }}</td>
                    </tr>
                </tbody>
            </table>

            <b-field label="Estado">
                <b-select v-model="order.status">
                    <option value="1">Creada</option>
                    <option value="10">Validada</option>
                </b-select>
            </b-field>

            <b-field grouped class="mt-5"><!-- Label left empty for spacing -->
                <button class="button is-danger mr-3" @click="deleteOrder">Borrar</button>
                <button class="button is-info mr-3" @click="exportOrder">Exportar</button>
                <button class="button is-primary" @click="saveOrder">Guardar cambios</button>
            </b-field>
        </div>
    </section>
</template>


<script>
    import { eventBus } from '../../main';
    import XLSX from 'xlsx'
    
    export default {
        data() {
            return {
                id: this.$route.params.id,
                order: {}
            }
        },
        watch: {
            '$route'(to, from) {
                this.id = to.params.id;
                this.getOrderDetail();
            }
        },
        methods: {
            getOrderDetail() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/orders/' + this.id + '/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    console.log('Order detail fetched correctly');
                    this.order = data;
                });
            },
            parseProduct(prod) {
                const prodArray = prod.split(":");
                const product = prodArray[0];
                const count = prodArray[1];
                return product + " ==> " + count + " unidades";
            },
            saveOrder() {
                this.$http.patch('http://localhost:8000/api/orders/' + this.id + '/', { status: this.order.status }, {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    console.log(response);
                    this.saveOrderProducts();
                }, error => {
                    console.log(error);
                    eventBus.$emit('orderAction', { success: false, title: '¡Actualización fallida!', errorMsg: 'La actualización de la orden #' + this.id + ' no pudo ser procesada correctamente' });
                });
            },
            saveOrderProducts() {
                this.$http.put('http://localhost:8000/api/order-products/', this.order.products, {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    console.log(response);
                    eventBus.$emit('orderAction', { success: true, action: 'actualizado', title: '¡Orden actualizada!', order: response.body.id });
                    this.$router.replace({ name: 'orders' });
                }, error => {
                    console.log(error);
                    eventBus.$emit('orderAction', { success: false, title: '¡Actualización fallida!', errorMsg: 'La actualización de la orden #' + this.id + ' no pudo ser procesada correctamente' });
                })
            },
            exportOrder() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/orders/' + this.id + '/download/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    console.log(data);
                    var orderWS = XLSX.utils.json_to_sheet(data);
                    orderWS.A1.v = 'Producto';
                    orderWS.B1.v = 'Cantidad';
                    orderWS.C1.v = 'Ubicación';
                    var wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, orderWS, 'orden');
                    XLSX.writeFile(wb, 'orden'+this.order.id+'.xlsx');
                })
            },
            deleteOrder() {
                if (confirm('¿Seguro deseas borrar la orden #' + this.order.id + '?')) {
                    console.log('Que sí la quiere borrar we');
                    this.$http.delete('http://alrivade.pythonanywhere.com/api/orders/' + this.id + '/', {
                        headers: {
                            'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                        }
                    }).then(response => {
                        console.log('Deleted');
                        eventBus.$emit('orderEvent', { success: true, msg: '¡Orden eliminada!' });
                    }, error => {
                        console.log(error);
                        eventBus.$emit('orderEvent', { success: false, msg: 'La eliminación de la orden #' + this.id + ' no pudo ser procesada correctamente' });
                    })
                    
                    this.$router.replace({ name: 'orders' });
                }
            }
        },
        mounted() {
            this.getOrderDetail();
        }
    }
</script>