<template>
    <div>
        <form action="">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Nuevo usuario</p>
                    <button
                        class="delete"
                        type="button"
                        @click="$emit('close')" />
                </header>
                
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Usuario</label>
                        <input class="input" :class="{'is-danger': !validUsername}" type="text" v-model="newUser.username" required @keydown="validUsername = true">
                    </div>
                    
                    <b-field grouped>
                        <div class="field">
                            <label class="label">Nombre</label>
                            <input class="input" :class="{'is-danger': !validFirstName}" type="text" v-model="newUser.first_name" required @keydown="validFirstName = true">
                        </div>

                        <div class="field">
                            <label class="label">Apellido</label>
                            <input class="input" :class="{'is-danger': !validLastName}" type="text" v-model="newUser.last_name" required @keydown="validLastName = true">
                        </div>
                    </b-field>
                    
                    <div class="field">
                        <label class="label">Teléfono</label>
                        <input class="input" :class="{'is-danger': !validPhone}" type="text" v-model="newUser.profile.phone" required @keydown="validPhone = true">
                    </div>
                    
                    <b-field label="Rol">
                        <b-select v-model="newUser.profile.role" expanded>
                            <option value="0">Administrador</option>
                            <option value="1">Empleado</option>
                        </b-select>
                    </b-field>
                </section>
                
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="$emit('close')">Cerrar</button>
                    <button class="button is-primary" type="button" @click="attemptSaveUser">Guardar</button>
                </footer>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newUser: {
                    first_name: '',
                    last_name: '',
                    username: '',
                    profile: {
                        phone: '',
                        role: 1
                    }
                },
                validFirstName: true,
                validLastName: true,
                validUsername: true,
                validPhone: true
            }
        },
        methods: {
            attemptSaveUser() {
                this.validUsername = this.newUser.username != '';
                this.validFirstName = this.newUser.first_name != '';
                this.validLastName = this.newUser.last_name != '';
                this.validPhone = this.newUser.profile.phone != '';
                
                if (this.validUsername && this.validFirstName && this.validLastName && this.validPhone) {
                    this.saveUser();
                }
            },
            saveUser() {
                this.$http.post('http://alrivade.pythonanywhere.com/api/users/', this.newUser, {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    console.log(response);
                }, error => {
                    console.log(error);
                });
                this.$emit('close');
            }
        }
    }
</script>