<template>
    <div class="">
        <div class="hero notification">
            <div class="hero-body">
                <h2 class="title">{{ title }}</h2>
                <br>
                <button class="button is-primary" @click="isNewUserModalActive = true">Crear nuevo usuario</button>
            </div>
        </div>
        
        <b-modal v-model="isNewUserModalActive" has-modal-card trap-focus>
            <template #default="props">
                <user-modal @close="props.close"></user-modal>
            </template>
        </b-modal>

        <section class="section">
            <b-table
            :data="users"
            :paginated="true"
            :per-page="10"
            :pagination-position="bottom"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            @click="goToUserDetail">

                <b-table-column field="id" label="ID" width="70" sortable centered numeric v-slot="props">
                    {{ props.row.id}}
                </b-table-column>

                <b-table-column field="username" label="Usuario" sortable v-slot="props">
                    {{ props.row.username }}
                </b-table-column>

                <b-table-column field="full_name" label="Nombre" sortable v-slot="props">
                    {{ props.row.full_name }}
                </b-table-column>

                <b-table-column field="profile.role" label="Rol" sortable v-slot="props">
                    {{ formatRole(props.row.profile.role) }}
                </b-table-column>

            </b-table>
        </section>
    </div>
</template>

<script>
    import NewUserModal from './NewUserModal.vue';
    
    export default {
        components: {
            userModal: NewUserModal
        },
        data() {
            return {
                title: 'Usuarios',
                users: [],
                isNewUserModalActive: false,
            }
        },
        methods: {
            getUsers() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/users/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    console.log(data)
                    const array = [];
                    for (let key in data) {
                        array.push(data[key]);
                    }
                    this.users = array;
                });
            },
            formatRole(role) {
                if (role == 0)
                    return 'Administrador';
                else if (role == 1)
                    return 'Empleado';
            },
            goToUserDetail(user) {
                this.$router.push({ name: 'userDetail', params: { id: user.id } });
            }
        },
        mounted() {
            this.getUsers();
        }
    }
</script>