<template>
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><router-link to="/users"><u>Usuarios</u></router-link></li>
                    <li class="is-active"><a href="#" aria-current="page">Usuario {{ id }}</a></li>
                </ul>
            </nav>

            <b-field label="Usuario">
                <b-input type="text" expanded disabled v-model="user.username"></b-input>
            </b-field>

            <b-field label="Nombre">
                <b-input type="text" expanded v-model="user.first_name"></b-input>
            </b-field>
            
            <b-field label="Apellido">
                <b-input type="text" expanded v-model="user.last_name"></b-input>
            </b-field>

            <b-field label="Número de teléfono">
                <b-input type="text" expanded v-model="user.profile.phone"></b-input>
            </b-field>

            <b-field label="Rol" v-if="isUserAdmin">
                <b-select v-model="user.profile.role">
                    <option value="0">Administrador</option>
                    <option value="1">Empleado</option>
                </b-select>
            </b-field>

            <b-field grouped class="mt-5"><!-- Label left empty for spacing -->
                <button class="button is-danger mr-5" @click="deleteUser" v-if="loggedUserId != id">Borrar</button>
                <button class="button is-primary" @click="saveUser">Guardar cambios</button>
            </b-field>

        </div>
    </section>
</template>


<script>
    export default {
        data() {
            return {
                id: this.$route.params.id,
                user: {},
                loggedUserId: localStorage.getItem('UserId'),
                isUserAdmin: localStorage.getItem('UserRole') == 0
            }
        },
        watch: {
            '$route'(to, from) {
                this.id = to.params.id;
                this.getOrderDetail();
            }
        },
        methods: {
            getUserDetail() {
                this.$http.get('http://alrivade.pythonanywhere.com/api/users/' + this.id + '/', {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    return response.json();
                }, error => {
                    console.log(error);
                }).then(data => {
                    this.user = data;
                })
            },
            saveUser() {
                this.$http.patch('http://alrivade.pythonanywhere.com/api/users/' + this.id + '/', { first_name: this.user.first_name, last_name: this.user.last_name }, {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    console.log(response);
                    this.saveProfile();
                }, error => {
                    console.log(error);
                });
            },
            saveProfile() {
                this.$http.patch('http://alrivade.pythonanywhere.com/api/profiles/' + this.id + '/', this.user.profile, {
                    headers: {
                        'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                    }
                }).then(response => {
                    console.log(response);
                    localStorage.setItem('UserRole', this.user.profile.role);
                    this.$router.replace({ name: 'users' });
                }, error => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.getUserDetail();
        }
    }
</script>