<template>
    <section class="mt-3">
        <div class="columns is-centered">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Login
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                    <div class="field">
                        <label class="label">Usuario</label>
                        <div class="control has-icons-right">
                            <input class="input" :class="{'is-danger': !validUsername}" type="text" v-model="username" required @keydown="validUsername = true">
                            <span class="icon is-small is-right" v-if="!validUsername">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control has-icons-right">
                            <input class="input" :class="{'is-danger': !validPassword}" type="password" v-model="password" required @keydown="validPassword = true">
                            <span class="icon is-small is-right" v-if="!validPassword">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                </div>
              </div>
              <footer class="card-footer">
                <b-button type="is-primary" expanded @click="login">Login</b-button>
              </footer>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                validUsername: true,
                password: '',
                validPassword: true
            }
        },
        methods: {
            login() {
                console.log('login click');
                this.validUsername = this.username != '';
                this.validPassword = this.password != '';

                if (this.validUsername && this.validPassword) {
                    this.$http.post('http://alrivade.pythonanywhere.com/auth/login/', {
                        username: this.username,
                        password: this.password
                    }).then(response => {
                        console.log(response);
                        localStorage.setItem('AuthToken', response.body.data.token);
                        localStorage.setItem('UserId', response.body.data.id);
                        localStorage.setItem('UserRole', response.body.data.profile.role);
                        this.$emit("authenticated", { success: !response.body.error, msg: response.body.msg });
                        this.$router.push('/');
                    }, error => {
                        console.log(error);
                        this.$emit("authenticated", { success: !error.body.error, msg: error.body.msg });
                        this.validUsername = false;
                        this.validPassword = false;
                    });
                    
                    //this.$router.push('/');
                }
            }
        }
    }
</script>