<template>
    
    <div class="">
        <b-navbar v-if="authenticated">
            <template slot="brand">
                <b-navbar-item href="https://www.hambrechallenge.com/">
                    <img src="./assets/diakonia.png" alt="Diakonia">
                </b-navbar-item>
            </template>
            
            <template slot="start">
                <!-- <b-navbar-item tag="router-link" :to="{ name: 'home' }">
                    Reportes
                </b-navbar-item> -->
                <b-navbar-item tag="router-link" :to="{ name: 'orders' }">
                    Órdenes
                </b-navbar-item>
                <b-navbar-item tag="router-link" :to="{ name: 'users' }" v-if="userIsAdmin">
                    Usuarios
                </b-navbar-item>
            </template>
            
            <template slot="end">
                <b-navbar-item tag="div">
                    <div class="buttons">
                        <b-button type="is-danger" outlined @click="logout">Logout</b-button>
                    </div>
                </b-navbar-item>
            </template>
        </b-navbar>
        
        <router-view @authenticated="setAuthenticated"></router-view>
    </div>
    
</template>

<script>
    export default {
        data () {
            return {
                authenticated: false,
                userIsAdmin: true,
                msg: 'Welcome to Your Vue.js App by Alexis & Vivi'
            }
        },
        methods: {
            setAuthenticated(response) {
                this.authenticated = response.success;
                this.userIsAdmin = localStorage.getItem('UserRole') == 0; // 0 for Admin
                console.log(response.msg);
            },
            logout() {
                if (confirm('¿Seguro deseas cerrar sesión?')) {
                    this.$http.post('http://alrivade.pythonanywhere.com/auth/logout/', {}, {
                        headers: {
                            'Authorization': 'Token ' + localStorage.getItem('AuthToken')
                        }
                    }).then(response => {
                        localStorage.setItem('AuthToken', null);
                        localStorage.setItem('UserId', -1);
                        this.authenticated = false;
                        this.$router.replace({ name: 'login' });
                    }, error => {
                        console.log(error);
                    });    
                }
            }
        },
        mounted() {
            const token = localStorage.getItem('AuthToken');
            console.log(token);
            this.authenticated = token != null && token != '' && token != 'null';
            this.userIsAdmin = localStorage.getItem('UserRole') == 0; // 0 for Admin
        }
    }
</script>